openapi: 3.0.0
info:
  title: Varanasi Nagar Nigam WhatsApp Bot API
  description: Simplified API for WhatsApp Bot integration - Check dues, manage properties, make payments, and download invoices
  version: 1.0.0
  contact:
    name: API Support
    email: api-support@varansinagar.gov.in
  license:
    name: Proprietary
    url: https://varansinagar.gov.in

servers:
  - url: https://api.varansinagar.gov.in/api
    description: Production Server
  - url: https://staging-api.varansinagar.gov.in/api
    description: Staging Server

tags:
  - name: Authentication
    description: User authentication via OTP
  - name: Properties
    description: Property management
  - name: Dues
    description: Check dues and taxes
  - name: Payments
    description: Payment processing and history
  - name: Invoices
    description: Invoice management
  - name: Notifications
    description: Send messages to users

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Error:
      type: object
      properties:
        status:
          type: boolean
          example: false
        message:
          type: string
        error_code:
          type: string
        details:
          type: object
      required:
        - status
        - message

    SuccessResponse:
      type: object
      properties:
        status:
          type: boolean
          example: true
        message:
          type: string
        data:
          type: object

paths:
  /auth/send-otp:
    post:
      tags:
        - Authentication
      summary: Send OTP
      description: Send one-time password to mobile number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                mobile_no:
                  type: string
                  example: "9876543210"
              required:
                - mobile_no
      responses:
        '200':
          description: OTP sent successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid mobile number
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/verify-otp:
    post:
      tags:
        - Authentication
      summary: Verify OTP
      description: Verify OTP and get JWT authentication token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                mobile_no:
                  type: string
                  example: "9876543210"
                otp:
                  type: string
                  example: "458921"
                request_id:
                  type: string
                  example: "REQ-20260317-001234"
              required:
                - mobile_no
                - otp
                - request_id
      responses:
        '200':
          description: OTP verified successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                      token_type:
                        type: string
                      expires_in:
                        type: integer
        '400':
          description: Invalid OTP
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /properties/list:
    get:
      tags:
        - Properties
      summary: List properties
      description: Get all properties for authenticated user
      security:
        - BearerAuth: []
      parameters:
        - name: mobile_no
          in: query
          required: true
          schema:
            type: string
            example: "9876543210"
      responses:
        '200':
          description: Properties retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      properties:
                        type: array
                        items:
                          type: object
                          properties:
                            property_id:
                              type: string
                            address:
                              type: string
                            outstanding_amount:
                              type: number
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No properties found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /dues/check:
    post:
      tags:
        - Dues
      summary: Check dues
      description: Get dues breakdown for a property
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                property_id:
                  type: string
                  example: "VN-PT-102345"
                mobile_no:
                  type: string
                  example: "9876543210"
              required:
                - property_id
                - mobile_no
      responses:
        '200':
          description: Dues retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      property_id:
                        type: string
                      address:
                        type: string
                      property_type:
                        type: string
                      total_outstanding:
                        type: number
                      dues:
                        type: object
                        properties:
                          property_tax:
                            type: number
                          water_tax:
                            type: number
                          sewerage_tax:
                            type: number
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Property not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /payment/initiate:
    post:
      tags:
        - Payments
      summary: Initiate payment
      description: Initiate payment for selected taxes
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                property_id:
                  type: string
                  example: "VN-PT-102345"
                mobile_no:
                  type: string
                  example: "9876543210"
                tax_types:
                  type: array
                  example: ["property_tax", "water_tax"]
                amount:
                  type: number
                  example: 3000
              required:
                - property_id
                - mobile_no
                - tax_types
                - amount
      responses:
        '200':
          description: Payment initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      transaction_id:
                        type: string
                      payment_link:
                        type: string
                      amount:
                        type: number
                      status:
                        type: string
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /payment/last-payment:
    post:
      tags:
        - Payments
      summary: Check last payment
      description: Get last payment details
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                property_id:
                  type: string
                  example: "VN-PT-102345"
                mobile_no:
                  type: string
                  example: "9876543210"
              required:
                - property_id
                - mobile_no
      responses:
        '200':
          description: Last payment retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      property_id:
                        type: string
                      last_payment:
                        type: object
                        properties:
                          transaction_id:
                            type: string
                          payment_date:
                            type: string
                          amount_paid:
                            type: number
                          status:
                            type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No payment history

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /invoice/months:
    post:
      tags:
        - Invoices
      summary: Get invoice months
      description: Get list of available invoice months
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                property_id:
                  type: string
                  example: "VN-PT-102345"
                mobile_no:
                  type: string
                  example: "9876543210"
              required:
                - property_id
                - mobile_no
      responses:
        '200':
          description: Invoice months retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      available_months:
                        type: array
                        items:
                          type: object
                          properties:
                            month_year:
                              type: string
                            display_text:
                              type: string
                            amount:
                              type: number
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /invoice/download:
    post:
      tags:
        - Invoices
      summary: Download invoice
      description: Download invoice copy for selected month
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                property_id:
                  type: string
                  example: "VN-PT-102345"
                mobile_no:
                  type: string
                  example: "9876543210"
                month_year:
                  type: string
                  example: "02-02-2026"
                format:
                  type: string
                  example: "pdf"
              required:
                - property_id
                - mobile_no
                - month_year
      responses:
        '200':
          description: Invoice retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      invoice_number:
                        type: string
                      invoice_url:
                        type: string
                      download_link:
                        type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Invoice not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /notification/send-individual:
    post:
      tags:
        - Notifications
      summary: Send individual message
      description: Send message to individual user
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                notification_type:
                  type: string
                  example: "payment_confirmation"
                recipient_type:
                  type: string
                  example: "individual"
                mobile_no:
                  type: string
                  example: "9876543210"
                message_template:
                  type: string
                content:
                  type: object
              required:
                - notification_type
                - mobile_no
                - content
      responses:
        '200':
          description: Message sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      notification_id:
                        type: string
                      status:
                        type: string
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /notification/send-broadcast:
    post:
      tags:
        - Notifications
      summary: Send broadcast message
      description: Send message to multiple users
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                notification_type:
                  type: string
                  example: "payment_reminder"
                recipient_type:
                  type: string
                  example: "broadcast"
                target_audience:
                  type: string
                  example: "all_users_with_dues"
                message_template:
                  type: string
                content:
                  type: object
              required:
                - notification_type
                - target_audience
                - content
      responses:
        '200':
          description: Broadcast queued
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      campaign_id:
                        type: string
                      total_recipients:
                        type: integer
                      status:
                        type: string
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
